/****************************
FONT NAMES
*****************************/

/*FONT FAMILIES:
font-family:'AmericanTypwrterITCW01- 731010';
font-family:'AmericanTypwrterITCW01- 731025';
font-family:'AmericanTypwrterITCW01- 731031';
font-family:'Proxima N W01 Black';
font-family:'Proxima N W01 Bold';
font-family:'Proxima N W01 Xbold';
font-family:'Proxima N W01 Light';
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01 Smbd';
font-family:'Proxima N W01 Thin Reg';*/

/****************************
CSS RESET
*****************************/

/*
v1.0 | 20080212

@link http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


/****************************
RED RULE ON EVERY ELEMENT
*****************************/
/** {
    box-shadow: 0 0 0 1px red inset;
}*/


/****************************
PEGBOARD
*****************************/

body {
	background: #fef1dc;
}

#board {
	width: 1400px;
	height: 850px;
	margin: 12px auto;
	background: url(../img/board-x.jpg) repeat-x;
	border: 1px solid #dda65e;
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.2);
    position: relative;
}

#peggholes {
	width: 1070px;
	height: 710px;
	margin-left: 25px;
	background: url(../img/board-hole.png) repeat;
	display: block;
	background-color: transparent;
	opacity: 0.4;
    position: relative;
}


/****************************
HEADER
*****************************/

header {
    width: 1095px;
    height: 75px;
}

#KL a {
    font-family: 'Proxima N W01 Black', sans-serif;
    font-size: 48px;
    text-decoration: none;
    color: #F26521;
    display: inline;
    float: left;
    margin: 25px 10px 0 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
}

/*#KL a:hover {
    color: #5f3817;
    display: inline;
    float: left;
}*/

#KL a:active {
    margin: 26px 9px 0 36px;
}

#tagline {
    font-family: 'Proxima N W01 Reg', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5f3817;
    display: inline;
    float: left;
    margin-top: 37px;
}


/****************************
POST BOXES
*****************************/


#video-post {
    width: 261px;
    height: 116px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 124px;
    left: 577px;
    z-index: 10;
    -webkit-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
    -moz-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
    box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
}

#photo-post-medium {
    width: 188px;
    height: 260px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 160px;
    left: 146px;
    z-index: 10;
    -webkit-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
    -moz-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
    box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.5);
}

#photo-post-large {
    width: 440px;
    height: 296px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 268px;
    left: 362px;
    z-index: 10;
    -webkit-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.9);
    -moz-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.9);
    box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.9);
}

#audio-post {
    width: 152px;
    height: 152px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 376px;
    left: 830px;
    z-index: 10;
    -webkit-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.3);
    -moz-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.3);
    box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.3);
}

#text-post {
    width: 224px;
    height: 152px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 592px;
    left: 254px;
    z-index: 10;
    -webkit-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.8);
    -moz-box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.8);
    box-shadow: 0 10px 12px -10px rgba(95, 56, 23, 0.8);
}

#photo-post-small {
    width: 116px;
    height: 116px;
    border: 1px solid #d6934e;
    background-color: #fdf0db;
    position: absolute;
    top: 592px;
    left: 722px;
    z-index: 10;
    -webkit-box-shadow: 0 3px 12px -2px rgba(95, 56, 23, 0.3);
    -moz-box-shadow: 0 3px 12px -2px rgba(95, 56, 23, 0.3);
    box-shadow: 0 3px 12px -2px rgba(95, 56, 23, 0.3);
}


/****************************
POST-CONTENT
*****************************/

#video-content {
    width: 241px;
    height: 96px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

#photo-medium-content {
    width: 168px;
    height: 240px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

#photo-large-content {
    width: 420px;
    height: 276px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

#audio-content {
    width: 132px;
    height: 132px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

#text-content {
    width: 204px;
    height: 132px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

#photo-small-content {
    width: 96px;
    height: 96px;
    background-color: #C6ECEC;
    margin: 10px 0 0 10px;
}

/****************************
FOOTER
*****************************/

footer {
    width: 1093px;
    height: 75px;
}

time {
    display: inline;
    float: left;
    margin: 25px 0 0 36px;
    font-family: 'Proxima N W01 Xbold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fdf0db;
    opacity: .9;
}

time span {
    color: #5f3817;
    opacity: .9;
    padding-left: 10px;
}

.footer-nav li {
    list-style-type: none;
}

.footer-nav a {
    float: right;
    margin: 27px 0 0 20px;
    font-family: 'Proxima N W01 Bold', sans-serif;
    font-size: 14px;
    color: #5f3817;
    opacity: .9;
    text-decoration: none;
    letter-spacing: 1px;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
}

.footer-nav a:hover {
    color: #fdf0db;
}

/****************************
ASIDE
*****************************/


#ribbon {
    width: 52px;
    height: 123px;
    background: url(../img/ribbon.png) no-repeat;
    position: absolute;
    top: -2px;
    right: 126px;
    z-index: 50;
}

aside {
    width: 240px;
    position: absolute;
    top: 158px;
    right: 8px;
    z-index: 20;
}

aside h3 {
    font-family: 'Proxima N W01 Bold', sans-serif;
    font-size: 18px;
    color: #5f3817;
    opacity: .9;
    letter-spacing: -1px;
    padding-bottom: 14px;
}

aside p {
    font-family: 'Proxima N W01 Reg', sans-serif;
    font-size: 15px;
    color: #5f3817;
    line-height: 24px;
    padding-bottom: 23px;
    padding-right: 50px;
    opacity: .9;
}

aside a {
    display: block;
    position: absolute;
    right: 42px;
    bottom: -40px;
    width: 195px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(85, 57, 15, 0.4);
    text-decoration: none;
    line-height: 45px;
    font-family: 'Proxima N W01 Smbd', sans-serif;
    font-size: 14px;
    color: #fdf0db;
    opacity: .9;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid #865f25;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    opacity: .9;
}

aside a:hover {
    color:#F2EBE1;
    border: 1px solid #F26521;
    background-color: #F26521;
}