/** {
    box-shadow: 0 0 0 1px red inset;
}*/


body {
    padding: 0;
    margin: 0;
    border-left: 12px solid #8A4410;
    padding: 0 50px;
    height: 100%;
}


.container {
    width: 600px;
    margin: 0 auto;
}


.kl {
    margin-bottom: 65px;
    padding-top: 50px;
}

.kl a {
    font-family: "facitweb-1", "facitweb-2", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #8A4410;
    text-decoration: none;
    display: inline-block;
}

.kl a:hover {
    color: #333;
}


.date {
    font-family: "facitweb-1", "facitweb-2", sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
}


h3 {
    font-family: "adelle-1", "adelle-2", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #8A4410;
    margin-top: 60px;
}


p {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    font-size: 18px;
    line-height: 33px;
    color: #555;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 40px;
}

a {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    font-size: 18px;
    line-height: 33px;
    color: #8A4410;
    text-decoration: none;
}

.link {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    font-size: 18px;
    color: #555;
    text-align: left;
    margin: 10px 0;
}

.link a {
    font-family: "adelle-1", "adelle-2", sans-serif;
    font-size: 16px;
    color: #393939;
    text-transform: uppercase;
    text-decoration: none;
}

.link a:hover {
    font-family: "adelle-1", "adelle-2", sans-serif;
    font-size: 16px;
    color: #8A4410;
    text-transform: uppercase;
    text-decoration: none;
}

.italic {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    font-size: 18px;
    line-height: 33px;
    color: #555;
    font-style: italic;
}


.large-image-container {
    width: 425px;
    background: #EEE;
    border: 1px solid #DDD;
    margin: -20px 0 50px 0;
    padding: 20px;
}

.large-image-container-550 {
    width: 550px;
    background: #EEE;
    border: 1px solid #DDD;
    margin: -20px 0 50px 0;
    padding: 20px;
}


.caption {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    width: 475px;
    font-size: 18px;
    line-height: 28px;
    color: #888;
    font-style: italic;
    margin-top: 30px;
}

.caption550 {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    width: 600px;
    font-size: 18px;
    line-height: 28px;
    color: #888;
    font-style: italic;
    margin-top: 30px;
}

.caption-at-top {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    width: 475px;
    font-size: 18px;
    line-height: 28px;
    color: #888;
    font-style: italic;
    margin: 30px 0 50px 0;
}

.footer {
    width: 550px;
    margin: 100px 0;
}

.nav {
    width: 550px;
    padding: 0;
    margin: 0;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #C5C5C5;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav a:hover {
    color: #8A4410;
}

.super {
    position: relative;
    top: -0.2em;
    font-size: 80%;
    color: #8A4410;
}

.caption li {
    display: block;
}

.caption li span {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.reg-list {
    padding-bottom: 0px;
}

.reg-list li {
    font-family: "chaparral-pro-1", "chaparral-pro-2", serif;
    width: 475px;
    font-size: 18px;
    line-height: 33px;
    color: #8A4410;
    font-style: italic;}



